* {
  margin: 0 auto;
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Bold.ttf") format("ttf"),
      url("../fonts/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans-Bold.woff2") format("woff2");
 font-weight: bold;
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),
      url("../fonts/OpenSans-Regular.woff") format("woff"),
      url("../fonts/OpenSans-Regular.woff2") format("woff2");
font-weight: 400;
}

header {
  height: 613px;
}

.header {
  max-width: 100%;
  background-image: url(../images/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171837;
  display: flex;
  flex-direction: column;
}

.header_color {
  position: relative;
  top: -100%;
  background-color: rgba(0,5,55,0.9);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header_logo {
  width: 130px;
  height: 35px;
  margin-top: 32px;
  z-index: 2;
}

.header_logo_icon {
  fill: #ffffff;
}

.header_title {
  width: 100%;
  margin-top: 127px;
  z-index: 2;
}

.header_text_1 {
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  padding-left: 18px;
  box-sizing: border-box;
  z-index: 2;
}

.header_text_2 {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-top: 12px;
  padding-left: 63px;
  box-sizing: border-box;
  z-index: 2;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 83px;
  z-index: 2;
}

.header_app_store {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.header_app_store:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2;
}

.header_app_store_logo {
  margin-left: 80px;
  margin-right: 8px;
  margin-top: 1px;
  z-index: 2;
}

.header_app_store_logo_img {
  fill: #ffffff;
  width: 26px;
  height: 28px;
  z-index: 2;
}

.header_button_text {
  margin-left: 0;
  z-index: 2;
}

.header_button_text_2 {
  margin-left: 0;
  z-index: 2;
}

.header_google_play {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 84px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.header_google_play:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2;
}

.header_google_play_logo {
  margin-left: 80px;
  margin-right: 8px;
  margin-top: 5px;
  z-index: 2;
}

.header_google_play_logo_img {
  fill: #ffffff;
  width: 26px;
  height: 24px;
  z-index: 2;
}

.header_app_store_text_1,
.header_google_play_text_1 {
  font-family: "Open Sans";
  font-size: 8px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: left;
  margin-top: 6px;
  z-index: 2;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 8px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
}

.container_1 {
  width: 100%;
}

.content_block_1,
.content_block_2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.content_title {
  margin-top: -38px;
  margin-left: 20px;
}

.content_title_2 {
  margin-top: 5px;
  margin-left: 15px;
}

.content_text_1 {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.8px;
  color: #e7e7e7;
}

.content_text_2 {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.8px;
  color: #e7e7e7;
}

.first_title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.second_title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.third_title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 51px;
}

.first_title_2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.second_title_2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 53px;
}

.third_title_2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.title_icon_full {
  width: 20px;
  height: 18px;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 3px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.title_icon {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
}

.title_icon_graphic {
  width: 16px;
  height: 4px;
  background-color: #5e42b0;
  border-radius: 2px;
}

.title_icon_graphic_2 {
  width: 16px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.title_icon_3 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  color: #8765dd;
}

.title_icon_graphic_3 {
  width: 16px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.img_sport_football {
  background: url(../images/footballer_192.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 281px;
  margin-top: 6px;
  margin-left: 11px;
  margin-bottom: -50px;
}

.img_sport_basketball {
  background: url(../images/basketballer_302.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 248px;
  margin-top: 7px;
  margin-bottom: -25px;
}

.first_title_text,
.second_title_text,
.third_title_text,
.first_title_text_2,
.second_title_text_2,
.third_title_text_2 {
  display: block;
  margin-left: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
}

.first_description {
  width: 100%;
  min-height: 205px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.second_description {
  width: 100%;
  min-height: 265px;
  box-sizing: border-box;
  background-color: #f5f4f9;
}

.third_description {
  width: 100%;
  min-height: 227px;
  box-sizing: border-box;
  background-color: #5e42b0;
}

.first_description_text,
.second_description_text {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.35;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 17px;
}

.third_description_text {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 17px;
  color: #ffffff;
}

.first_content_description_2 {
  width: 100%;
  min-height: 250px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.second_content_description_2 {
  width: 100%;
  min-height: 193px;
  box-sizing: border-box;
  background-color: #f5f4f9;
}

.third_content_description_2 {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #090c35;
}

.first_description_text_2,
.second_description_text_2 {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 1.27px;
  line-height: 1.3;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 19px;
}

.third_description_text_2 {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.3;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 19px;
  color: #ffffff;
}

.container_2 {
  width: 100%;
 }

.first_container,
.second_container,
.third_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

 .numder_1,
 .numder_2,
 .numder_3 {
  display: flex;
  position: relative;
  background-color: #5e42b0;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  top: 18px;
  text-align: center;
}

.number_icon_full {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-top: 24px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.numder_icon {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
   color: #ffffff;
}

.numder_icon_graphic {
  width: 15px;
  height: 4px;
  margin-top: 2px;
  background-color: #8f7bc8;
  border-radius: 2px;
}

.first_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/be-active_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e2f1fa;
  margin-bottom: -77px;
}

.second_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/find-contact_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c64847;
  margin-bottom: -77px;
}

.third_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/work-it_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7193c0;
  margin-bottom: -77px;
}

.text_block_1 {
  width: 100%;
  min-height: 212px;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_2 {
  width: 100%;
  min-height: 196px;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_3 {
  width: 100%;
  min-height: 225px;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_title_1,
.text_block_title_2,
.text_block_title_3
 {
  box-sizing: border-box;
  margin-left: 18px;
  margin-top: 24px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  color: #e7e7e7;
}

.first_description_text_block {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 37px;
  margin-top: 11px;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.25;
}

.second_description_text_block {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 13px;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.25;
}

.third_description_text_block {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 11px;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.8px;
}

footer {
  height: 568px;
}

.footer {
  max-width: 100%;
  background-image: url(../images/game_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171737;
  display: flex;
  flex-direction: column;
}

.footer_color {
  position: relative;
  margin-top: -568px;
  background-color: rgba(0,5,55,0.9);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer_icon_and_title {
  z-index: 2;
}

.footer_icon {
  width: 74px;
  height: 74px;
  margin-top: 99px;
  background-color: #7151cf;
  border-radius: 14px;
  z-index: 2;
}

.footer_icon_1 {
  width: 60px;
  height: 50px;
  fill: #ffffff;
  transform: translate(10%, 25%);
  z-index: 2;
}

.footer_title {
  width: 100%;
  margin-top: 50px;
  z-index: 2;
}

.footer_text_1 {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.footer_text_2 {
  display: block;
  color: #9b8ec1;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  z-index: 2;
}

.footer_app_store {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.footer_app_store:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2;
}

.footer_app_store_logo {
  margin-right: 8px;
  margin-top: 1px;
  margin-left: 79px;
  z-index: 2;
}

.footer_app_store_logo_img {
  fill: #ffffff;
  width: 26px;
  height: 28px;
  z-index: 2;
}

.footer_button_text {
  margin-left: 0;
  z-index: 2;
}

.footer_button_text_2 {
  margin-left: 0;
  z-index: 2;
}

.footer_google_play {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.footer_google_play:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2;
}

.footer_google_play_logo {
  margin-right: 8px;
  margin-top: 5px;
  margin-left: 80px;
  z-index: 2;
}

.footer_google_play_logo_img {
  fill: #ffffff;
  width: 25px;
  height: 26px;
  z-index: 2;
}

.footer_app_store_text_1,
.footer_google_play_text_1 {
  font-family: "Open Sans";
  font-size: 8px;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: left;
  margin-top: 7px;
  z-index: 2;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 8px;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
}

.footer_logo {
  width: 130px;
  height: 38px;
  margin-top: 82px;
  margin-bottom: 8px;
  z-index: 2;
 }

 .footer_logo_icon {
  fill: #ffffff;
  z-index: 2;
 }

/*____________________Версия для планшета_______________________________*/

 @media screen and (min-width: 641px) and (max-width: 960px) {

header {
  height: 959px;
}

.header_logo {
  width: 205px;
  height: 56px;
  margin-top: 39px;
  margin-right: 35%;
}

.header_title {
  margin-top: 160px;
}

.header_text_1 {
  font-size: 63px;
  padding-left: 85px;
  letter-spacing: 3.8px;
}

.header_text_2 {
  font-size: 63px;
  margin-top: -3px;
  padding-left: 193px;
  letter-spacing: 4px;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 304px;
  margin-bottom: 91px;
  z-index: 2;
}

.header_app_store {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin-left: 8%;
  margin-right: 4%;
  margin-bottom: 0;
}

.header_google_play {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin: 0;
}

.header_app_store_logo {
  margin-right: 22px;
  margin-top: 16px;
  margin-left: 30px;
}

.header_app_store_logo_img {
  width: 50px;
  height: 45px;
}

.header_button_text {
  margin-left: 0;
}

.header_button_text_2 {
  margin-left: 0;
}

.header_google_play_logo {
  margin-right: 29px;
  margin-top: 19px;
  margin-left: 52px;
}

.header_google_play_logo_img {
  width: 41px;
  height: 44px;
}

.header_app_store_text_1 {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 22px;
}

.header_google_play_text_1 {
  font-size: 14px;
  margin-top: 22px;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-top: -3px;
}

.content_title {
  margin-top: 58px;
  margin-left: 292px;
  margin-bottom: -70px;
}

.content_title_2 {
  margin-top: 58px;
  margin-left: 29px;
  margin-bottom: -133px;
}

.content_text_1,
.content_text_2 {
  font-size: 80px;
  letter-spacing: 1px;
}

.first_title {
  margin-top: 2px;
  margin-left: 290px;
}

.second_title {
  margin-top: 32px;
  margin-left: 290px;
}

.third_title {
  margin-top: 33px;
  margin-left: 290px;
}

.title_icon_full {
  width: 22px;
  height: 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.title_icon {
  font-size: 18px;
}

.title_icon_graphic {
  width: 22px;
  height: 5px;
  border-radius: 3px;
}

.title_icon_graphic_2 {
  width: 22px;
  height: 5px;
  border-radius: 3px;
}

.title_icon_3 {
  font-size: 18px;
}

.title_icon_graphic_3 {
  width: 22px;
  height: 5px;
  border-radius: 3px;
}

.img_sport_football {
  background: url(../images/footballer_497.png);
  background-repeat: no-repeat;
  min-height: 699px;
  margin-left: -162px;
  margin-bottom: -600px;
  margin-top: -2px;
}

.img_sport_basketball {
  background: url(../images/basketballer_436.png);
  background-repeat: no-repeat;
  min-height: 565px;
  margin-left: 44%;
  margin-right: 0;
  margin-bottom: -420px;
  margin-top: 6px;
}

.first_title_text,
.second_title_text,
.third_title_text {
  font-size: 31px;
  letter-spacing: 2.3px;
}

.first_description {
  width: 100%;
  min-height: 149px;
  background-color: #ffffff;
}

.second_description {
  width: 100%;
  min-height: 235px;
}

.third_description {
  width: 100%;
  min-height: 179px;
}

.first_description p,
.second_description p,
.third_description p{
  box-sizing: border-box;
}

.first_description_text {
  margin-right: 30px;
  margin-left: 292px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.second_description_text {
  margin-right: 25px;
  margin-left: 292px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.third_description_text {
  margin-right: 15px;
  margin-left: 292px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.first_content_description_2 {
  min-height: 187px;
  background-color: #ffffff;
}

.second_content_description_2,
.third_content_description_2 {
  min-height: 181px;
}

.first_title_2 {
  margin-right: 310px;
  margin-left: 32px;
  margin-top: 11px;
}

.second_title_2,
.third_title_2 {
  margin-right: 310px;
  margin-left: 32px;
  margin-top: 34px;
}

.first_title_text_2,
.second_title_text_2,
.third_title_text_2 {
  font-size: 31px;
  letter-spacing: 2.3px;
}

.first_description_text_2 {
  margin-left: 32px;
  margin-right: 310px;
  margin-top: 19px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.second_description_text_2 {
  margin-left: 32px;
  margin-right: 310px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.third_description_text_2 {
  margin-left: 32px;
  margin-right: 288px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: 1.9px;
  line-height: 1.7;
}

.first_container,
.second_container,
.third_container {
  width: 100%;
}

.numder_1 {
  width: 116px;
  height: 116px;
  margin-left: 32px;
  top: 36px;
}

.numder_2 {
  width: 116px;
  height: 116px;
  margin-left: 32px;
  top: 27px;
}

.numder_3 {
  width: 116px;
  height: 116px;
  margin-left: 32px;
  top: 28px;
}

.number_icon_full {
  width: 26px;
  height: 32px;
  margin-left: 46px;
  margin-top: 35px;
}

.numder_icon {
  font-size: 24px;
}

.numder_icon_graphic {
  width: 26px;
  height: 5px;
  margin-top: 4px;
  border-radius: 2px;
}

.first_photo {
  min-height: 583px;
  background-image: url(../images/be-active_960.jpg);
  margin-bottom: -116px;
}

.second_photo {
  min-height: 583px;
  background-image: url(../images/find-contact_960.jpg);
  margin-bottom: -116px;
}

.third_photo {
  min-height: 583px;
  background-image: url(../images/work-it_960.jpg);
  margin-bottom: -116px;
  margin-top: 1px;
}

.text_block_1 {
  min-height: 337px;
  margin-top: 0px;
}

.text_block_2 {
  min-height: 334px;
  margin-top: 0px;
}

.text_block_3 {
  min-height: 369px;
}

.text_block_title_1 {
  margin-left: 27px;
  margin-top: 65px;
  font-size: 78px;
  letter-spacing: 1.4px;
}

.text_block_title_2 {
  margin-left: 25px;
  margin-top: 55px;
  font-size: 78px;
  letter-spacing: 1.9px;
}

.text_block_title_3 {
  margin-left: 32px;
  margin-top: 52px;
  font-size: 78px;
  letter-spacing: 1.4px;
}

.first_description_text_block {
  margin-left: 32px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 22px;
  letter-spacing: 2.1px;
}

.second_description_text_block {
  margin-left: 34px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 23px;
  letter-spacing: 1.7px;
  line-height: 1.3;
}

.third_description_text_block {
  margin-left: 32px;
  margin-right: 24px;
  margin-top: 10px;
  font-size: 23px;
  letter-spacing: 1.7px;
  line-height: 1.25;
}

footer {
  height: 953px;
}

.footer_color {
  margin-top: -953px;
}

.footer_icon_and_title {
  width: 100%;
  z-index: 2;
}

.footer_icon {
  width: 127px;
  height: 136px;
  margin-top: 122px;
  margin-left: 43%;
  border-radius: 30px;
}

.footer_icon_1 {
  width: 120px;
  height: 86px;
  transform: translate(0%, 28%);
}

.footer_title {
  margin-top: 58px;
}

.footer_text_1 {
  font-size: 78px;
  letter-spacing: 6.7px;
  padding-left: 3%;
}

.footer_text_2 {
  margin-top: -7px;
  font-size: 35px;
  font-weight: 400;
  padding-left: 3%;
  letter-spacing: 0.8px;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 279px;
  z-index: 2;
}

.footer_app_store {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin-left: 8%;
  margin-right: 4%;
  margin-bottom: 0;
}

.footer_google_play {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin-right: 0;
  margin-left: 0;
}

.footer_app_store_logo {
  margin-right: 22px;
  margin-top: 16px;
  margin-left: 30px;
}

.footer_app_store_logo_img {
  width: 50px;
  height: 45px;
}

.footer_button_text {
  margin-left: 0;
}

.footer_button_text_2 {
  margin-left: 0;
}

.footer_google_play_logo {
  margin-right: 29px;
  margin-top: 19px;
  margin-left: 52px;
}

.footer_google_play_logo_img {
  width: 41px;
  height: 44px;
}

.footer_app_store_text_1 {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 22px;
}

.footer_google_play_text_1 {
  font-size: 14px;
  margin-top: 20px;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-top: -3px;
}

.footer_logo {
  width: 204px;
  height: 56px;
  margin-top: 55px;
  margin-bottom: 22px;
  margin-left: 37.5%;
 }
 }

@media screen and (min-width: 641px) and (max-width: 764px) {

.header_title {
  margin-top: 158px;
}

.header_text_2 {
  padding-left: 20.5%;
}

.header_app_store,
.header_google_play,
.footer_app_store,
.footer_google_play {
  width: 41%;
}

.footer_title {
  margin-top: 71px;
}

.footer_text_1 {
  font-size: 72px;
  letter-spacing: 0;
  padding-left: 0;
}

.footer_text_2 {
  margin-top: -7px;
  font-size: 33px;
  font-weight: 400;
  padding-left: 0;
  letter-spacing: 0;
}
}

/*____________________Десктопная версия_______________________________*/

 @media screen and (min-width: 961px) and (max-width: 1920px),(min-width: 1921px) {

header {
  height: 1010px;
}

.header {
  background-image: url(../images/football_1280.jpg);
}

.header_logo {
  width: 192px;
  height: 54px;
  margin-top: 44px;
  margin-left: 45.5%;
}

.header_title {
  margin-top: 264px;
}

.header_text_1 {
  font-size: 90px;
  padding-left: 9.8%;
  letter-spacing: 4.5px;
}

.header_text_2 {
  font-size: 90px;
  margin-top: -24px;
  padding-left: 33.46%;
  letter-spacing: 5px;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 205px;
  margin-bottom: 109px;
  z-index: 2;
}

.header_app_store {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 32,6%;
  margin-right: 2.6%;
  margin-bottom: 0px;
}

.header_google_play {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 0;
  margin-bottom: 0;
}

.header_app_store_logo {
  margin-right: 24px;
  margin-top: 12px;
  margin-left: 38px;
}

.header_app_store_logo_img {
  width: 50px;
  height: 50px;
}

.header_button_text {
  margin-left: 0;
}

.header_google_play_logo {
  margin-right: 23px;
  margin-top: 17px;
  margin-left: 58px;
}

.header_google_play_logo_img {
  width: 50px;
  height: 47px;
}

.header_app_store_text_1,
.header_google_play_text_1 {
  font-size: 14px;
  margin-top: 22px;
  margin-bottom: -3px;
  letter-spacing: 0.5px;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-size: 15px;
}

.content_title {
  margin-top: 41px;
  margin-left: 53%;
}

.content_title_2 {
  margin-top: 93px;
  margin-left: 9.7%;
}

.content_text_1,
.content_text_2 {
  font-size: 77px;
  letter-spacing: 3.5px;
}

.img_sport_football {
  background: url(../images/footballer_566.png);
  background-repeat: no-repeat;
  min-height: 908px;
  margin-left: 20.52%;
  margin-top: -170px;
  margin-bottom: -700px;
}

.img_sport_basketball {
  background: url(../images/basketballer_991.png);
  background-repeat: no-repeat;
  min-height: 815px;
  margin-top: -175px;
  margin-left: 42.19%;
  margin-right: 0;
  margin-bottom: -550px;
}

.first_title {
  margin-top: 39px;
  margin-left: 53%;
}

.second_title,
.third_title {
  margin-top: 50px;
  margin-left: 53%;
}

.title_icon_full {
  width: 21px;
  height: 25px;
  margin-left: 0px;
  margin-right: 12px;
}

.title_icon,
.title_icon_3 {
  font-size: 20px;
}

.title_icon_graphic,
.title_icon_graphic_2,
.title_icon_graphic_3 {
  width: 20px;
  height: 5px;
  border-radius: 3px;
}

.first_title_text {
  font-size: 36px;
  letter-spacing: 1.5px;
}

.second_title_text {
  font-size: 36px;
  letter-spacing: 1.8px;
}

.third_title_text {
  font-size: 36px;
}

.first_description {
  width: 100%;
  min-height: 180px;
  background-color: #ffffff;
}

.second_description {
  width: 100%;
  min-height: 251px;
}

.third_description {
  width: 100%;
  min-height: 222px;
}

.first_description_text {
  margin-right: 10%;
  margin-left: 53%;
  margin-top: 12px;
  font-size: 20px;
  letter-spacing: 1px;
}

.second_description_text {
  margin-right: 10%;
  margin-left: 53%;
  margin-top: 14px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4;
}

.third_description_text {
  margin-right: 9%;
  margin-left: 53%;
  margin-top: 14px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4;
}

.first_content_description_2 {
  min-height: 160px;
  background-color: #ffffff;
}

.second_content_description_2 {
  min-height: 230px;
}

.third_content_description_2 {
  min-height: 196px;
}

.first_title_2 {
  margin-left: 10%;
  margin-top: -13px;
}

.second_title_2 {
  margin-left: 10%;
  margin-top: 48px;
}

.third_title_2 {
  margin-left: 10%;
  margin-top: 50px;
}


.first_title_text_2 {
  font-size: 36px;
  letter-spacing: 1.5px;
}

.second_title_text_2 {
  font-size: 36px;
  letter-spacing: 2.1px;
}

.third_title_text_2 {
  font-size: 36px;
  letter-spacing: 1.5px;
}

.first_description_text_2 {
  width: 39.27%;
  margin-left: 10.1%;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.35;
}

.second_description_text_2 {
  width: 39.27%;
  margin-left: 10.1%;
  margin-top: 22px;
  font-size: 20px;
  letter-spacing: 1.01px;
  line-height: 1.35;
}

.third_description_text_2 {
  width: 39.27%;
  margin-left: 10.1%;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.35;
}

.first_container,
.third_container {
  width: 100%;
  flex-direction: row;
}

.second_container {
  width: 100%;
  flex-direction: row-reverse;
}

.numder_1 {
  position: relative;
  width: 168px;
  height: 155px;
  top: 210px;
  margin-left: 0;
}

.numder_2 {
  position: relative;
  width: 168px;
  height: 155px;
  top: 210px;
  left: 7px;
  margin-left: 0;
}

.numder_3 {
  position: relative;
  width: 168px;
  height: 155px;
  top: 212px;
  margin-left: 0;
}

.number_icon_full {
  width: 28px;
  height: 32px;
  margin-left: 70px;
  margin-top: 55px;
}

.numder_icon {
  font-size: 24px;
}

.numder_icon_graphic {
  width: 24px;
  height: 5px;
  margin-top: 3px;
  border-radius: 2px;
}

.first_photo {
  width: 51%;
  min-height: 730px;
  background-image: url(../images/be-active_1024.jpg);
  margin-bottom: 0;
  margin-right: -84px;
}

.second_photo {
  width: 49%;
  min-height: 730px;
  background-image: url(../images/find-contact_1024.jpg);
  margin-bottom: 0;
  margin-left: -84px;
}

.third_photo {
  width: 51%;
  min-height: 730px;
  background-image: url(../images/work-it_1024.jpg);
  margin-bottom: 0;
  margin-right: -84px;
}

.text_block_1 {
  width: 50%;
  margin-right: 0;
  margin-top: 0;
  margin-left: -84px;
  background-color: #ffffff;
}

.text_block_2 {
  width: 50%;
  margin-top: 0;
  margin-right: -84px;
  margin-left: 0;
  background-color: #ffffff;
}

.text_block_3 {
  width: 50%;
  margin-top: 0;
  margin-right: 0;
  margin-left: -84px;
  background-color: #ffffff;
}

.text_block_title_1 {
  margin-left: 13%;
  margin-top: 237px;
  font-size: 75px;
  letter-spacing: 3px;
}

.text_block_title_2 {
  margin-left: 20%;
  margin-top: 236px;
  font-size: 78px;
  letter-spacing: 1.5px;
}

.text_block_title_3 {
  margin-left: 13.5%;
  margin-top: 237px;
  font-size: 78px;
  letter-spacing: 2px;
}

.first_description_text_block {
  margin-left: 13.5%;
  margin-right: 18%;
  margin-top: 93px;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.second_description_text_block {
  margin-left: 20%;
  margin-right: 10.42%;
  margin-top: 48px;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.third_description_text_block {
  margin-left: 13.2%;
  margin-right: 17%;
  margin-top: 83px;
  font-size: 24px;
  letter-spacing: 1.22px;
  line-height: 1.17;
}

footer {
  height: 960px;
}

.footer {
  background-image: url(../images/game_1280.jpg);
}

.footer_color {
  margin-top: -960px;
}

.footer_icon_and_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 129px;
  z-index: 2;
}

.footer_icon {
  width: 132px;
  height: 138px;
  margin-left: 27.5%;
  margin-right: -8px;
  border-radius: 30px;
}

.footer_icon_1 {
  width: 104px;
  height: 86px;
  transform: translate(15%, 30%);
}

.footer_title {
  width: 45%;
  margin-left: 38px;
  margin-right: 0;
  margin-top: 93px;
}

.footer_text_1 {
  font-size: 82px;
  text-align: left;
}

.footer_text_2 {
  font-size: 29px;
  margin-top: -13px;
  padding-left: 3px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.85px;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 151px;
  margin-bottom: 0;
  z-index: 2;
}

.footer_app_store {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 32,7%;
  margin-right: 2.6%;
}

.footer_google_play {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 0;
  margin-bottom: 0;
}

.footer_app_store_logo {
  margin-right: 24px;
  margin-top: 12px;
  margin-left: 38px;
}

.footer_app_store_logo_img {
  width: 50px;
  height: 50px;
}

.footer_button_text {
  margin-left: 0;
}

.footer_button_text_2 {
  margin-left: 0;
}

.footer_google_play_logo {
  margin-right: 23px;
  margin-top: 17px;
  margin-left: 58px;
}

.footer_google_play_logo_img {
  width: 50px;
  height: 47px;
}

.footer_app_store_text_1,
.footer_google_play_text_1 {
  font-size: 14px;
  margin-top: 22px;
  margin-bottom: -3px;
  letter-spacing: 0.5px;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-size: 15px;
}

.footer_logo {
  width: 196px;
  height: 54px;
  margin-left: 45.3%;
  margin-right: auto;
  margin-top: 246px;
  margin-bottom: 51px;
 }
}

@media screen and (min-width: 961px) and (max-width: 1663px) {

.header_title {
  margin-top: 284px;
}

.header_text_1 {
  font-size: 70px;
  letter-spacing: 4.5px;
}

.header_text_2 {
  font-size: 70px;
  margin-top: 3px;
  padding-left: 17%;
  letter-spacing: 0;
}

.header_button_full {
  margin-top: 208px;
  margin-bottom: 110px;
}
}

@media screen and (min-width: 961px) and (max-width: 1602px) {

.footer_icon {
  margin-left: 16.5%;
}

.footer_title {
  width: 66%;
}

.footer_text_1 {
  font-size: 71px;
}
}