* {
  margin: 0 auto;
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Bold.ttf") format("ttf"),
      url("../fonts/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans-Bold.woff2") format("woff2");
 font-weight: bold; 
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),     
      url("../fonts/OpenSans-Regular.woff") format("woff"),
      url("../fonts/OpenSans-Regular.woff2") format("woff2");
font-weight: 400;
}

.header {
  max-width: 100%;
  background-image: url(../images/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171837;
  display: flex;
  flex-direction: column;
}

.header:before {
  content: "";
  position: absolute;
  background-color: rgba(0,5,55,0.9);
  width: 100%;
  height: 613px;
  z-index: 1;
}

.header_logo {
  width: 130px;
  height: 35px;
  margin-top: 32px;
  z-index: 2;
}

.header_logo_icon {
  fill: #ffffff;
}

.header_title {
  width: 100%;
  margin-top: 136px;
  z-index: 2;
}

.header_text_1 {
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  padding-left: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.header_text_2 {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  padding-left: 64px;
  box-sizing: border-box;
  z-index: 2;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  z-index: 2;
}

.header_app_store {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.header_app_store:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2; 
}

.header_app_store_logo {
  margin-right: 11px;
  margin-top: 5px;
  z-index: 2;
}

.header_app_store_logo_img {
  fill: #ffffff;
  width: 20px;
  height: 24px;
  z-index: 2;
}

.header_button_text {
  margin-left: 0;
  z-index: 2;
}

.header_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
  z-index: 2;
}

.header_google_play {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 84px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.header_google_play:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2; 
}

.header_google_play_logo {
  margin-right: 10px;
  margin-top: 8px;
  z-index: 2;
}

.header_google_play_logo_img {
  fill: #ffffff;
  width: 21px;
  height: 20px;
  z-index: 2;
}

.header_app_store_text_1,
.header_google_play_text_1 {
  font-family: "Open Sans";
  font-size: 7px;
  color: #ffffff;
  text-align: left;
  margin-top: 9px;
  z-index: 2;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 7px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
}

.container_1 {
  width: 100%;
}

.content_block_1,
.content_block_2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.content_title,
.content_title_2 {
  margin-top: 22px; 
  margin-left: 20px;
}

.content_text_1,
.content_text_2 {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 36px;
  color: #e7e7e7;
}

.first_title,
.second_title,
.third_title,
.first_title_2,
.second_title_2,
.third_title_2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; 
}

.title_icon_full {
  width: 20px;
  height: 18px;
  margin-left: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.title_icon {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
}

.title_icon_graphic {
  width: 15px;
  height: 4px;
  background-color: #5e42b0;
  border-radius: 2px;
}

.title_icon_graphic_2 {
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.title_icon_3 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  color: #8765dd;
}

.title_icon_graphic_3 {
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.img_sport_football {
  background: url(../images/footballer_192.png);
  background-repeat: no-repeat;
  position: relative; 
  width: 100%; 
  min-height: 281px;
  margin-left: 20%;
  margin-bottom: -50px;
}

.img_sport_basketball {
  background: url(../images/basketballer_302.png);
  background-repeat: no-repeat;
  position: relative; 
  width: 100%; 
  min-height: 248px;
  margin-bottom: -25px;
}

.first_title_text,
.second_title_text,
.third_title_text,
.first_title_text_2,
.second_title_text_2,
.third_title_text_2 {
  display: block;
  margin-left: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  color: #c1c1c1;
}

.first_description {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.second_description {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #f5f4f9;
}

.third_description {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #5e42b0;
}

.first_description_text,
.second_description_text {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
}

.third_description_text {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
  color: #ffffff;
}

.first_content_description_2 {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.second_content_description_2 {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #f5f4f9;
}

.third_content_description_2 {
  width: 100%;
  min-height: 189px;
  box-sizing: border-box;
  background-color: #090c35;
}

.first_description_text_2,
.second_description_text_2 {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
}

.third_description_text_2 {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
  color: #ffffff;
}

.container_2 {
  width: 100%;
 }

.first_container,
.second_container,
.third_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

 .numder {
  display: flex;
  position: relative; 
  background-color: #5e42b0;
  width: 70px; 
  height: 70px;
  margin-left: 20px;
  top: 18px;  
  text-align: center;
}

.number_icon_full {
  width: 20px;
  height: 20px;
  margin-left: 26px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.numder_icon {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
   color: #ffffff;
}

.numder_icon_graphic {
  width: 15px;
  height: 4px;
  margin-top: 2px;
  background-color: #8f7bc8;
  border-radius: 2px;
}

.first_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/be-active_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e2f1fa;
  margin-bottom: -70px;
}

.second_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/find-contact_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c64847;
  margin-bottom: -70px;
}

.third_photo {
  width: 100%;
  height: 352px;
  background-image: url(../images/work-it_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7193c0;
  margin-bottom: -70px;
}

.text_block_1 {
  width: 100%;
  min-height: 212px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_2 {
  width: 100%;
  min-height: 196px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_3 {
  width: 100%;
  min-height: 225px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.text_block_title_1,
.text_block_title_2,
.text_block_title_3
 {
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 34px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
  color: #e7e7e7;
}

.first_description_text_block,
.second_description_text_block,
.third_description_text_block {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  font-family: "Open Sans";
  font-size: 12px;
}

.footer {
  max-width: 100%;
  background-image: url(../images/game_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171737;
  display: flex;
  flex-direction: column;
}

.footer:before {
  content: "";
  position: absolute;
  background-color: rgba(0,5,55,0.9);
  width: 100%;
  min-height: 606px;
  z-index: 1;
}

.footer_icon_and_title {
  z-index: 2;
}

.footer_icon {
  width: 74px;
  height: 74px;
  margin-top: 99px;
  background-color: #7151cf;
  border-radius: 10px;
  z-index: 2;
}

.footer_icon_1 {
  width: 60px;
  height: 50px; 
  fill: #ffffff;
  transform: translate(10%, 25%);
  z-index: 2;
}

.footer_title {
  width: 100%;
  margin-top: 59px;
  z-index: 2;
}

.footer_text_1 {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.footer_text_2 {
  display: block;
  color: #9b8ec1;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  margin-top: 23px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 76px;
  z-index: 2;
}

.footer_app_store {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.footer_app_store:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2; 
}

.footer_app_store_logo {
  margin-right: 11px;
  margin-top: 5px;
  z-index: 2;
}

.footer_app_store_logo_img {
  fill: #ffffff;
  width: 20px;
  height: 24px;
  z-index: 2;
}

.footer_button_text {
  margin-left: 0;
  z-index: 2;
}

.footer_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
  z-index: 2;
}

.footer_google_play {
  width: 280px;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.footer_google_play:hover {
  box-shadow: 0 0 30px #cc0000;
  z-index: 2; 
}

.footer_google_play_logo {
  margin-right: 10px;
  margin-top: 8px;
  z-index: 2;
}

.footer_google_play_logo_img {
  fill: #ffffff;
  width: 21px;
  height: 20px;
  z-index: 2;
}

.footer_app_store_text_1,
.footer_google_play_text_1 {
  font-family: "Open Sans";
  font-size: 7px;
  color: #ffffff;
  text-align: left;
  margin-top: 9px;
  z-index: 2;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 7px;
  color: #ffffff;
  text-align: left;
  z-index: 2;
}

.footer_logo {
  width: 130px;
  height: 38px;
  margin-top: 82px; 
  margin-bottom: 8px;
  z-index: 2;
 } 

 .footer_logo_icon {
  fill: #ffffff;
  z-index: 2;
 }










/*Версия для планшета*/

 @media screen and (min-width: 641px) and (max-width: 960px) {

.header:before {
  height: 1061px;
}

.header_logo {
  width: 205px;
  height: 56px;
  margin-top: 39px;
}

.header_title {
  margin-top: 182px;
}

.header_text_1 {
  font-size: 46px;
  padding-left: 90px;
}

.header_text_2 {
  font-size: 46px;
  margin-top: 32px;
  padding-left: 198px;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 312px;
  margin-bottom: 91px;
  z-index: 2;
}

.header_app_store,
.header_google_play {
  width: 311px;
  height: 77px;
  border-radius: 40px;
}

.header_app_store_logo {
  margin-right: 29px;
  margin-top: 20px;
}

.header_app_store_logo_img {
  width: 36px;
  height: 32px;
}

.header_button_text {
  margin-left: 0;
}

.header_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
}

.header_google_play_logo {
  margin-right: 29px;
  margin-top: 15px;
}

.header_google_play_logo_img {
  width: 41px;
  height: 44px;
}

.header_app_store_text_1,
.header_google_play_text_1 {
  font-size: 11px;
  margin-top: 22px;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-size: 11px;
}

.content_title {
  margin-top: 87px; 
  margin-left: 292px;
  margin-bottom: -70px;
}

.content_title_2 {
  margin-top: 88px; 
  margin-left: 32px;
  margin-bottom: -120px;
}

.content_text_1,
.content_text_2 {
  font-size: 67px;
}

.first_title,
.second_title,
.third_title {
  margin-top: 42px;
  margin-left: 292px; 
}

.title_icon_full {
  width: 22px;
  height: 20px;
  margin-left: 0px;
  margin-right: 13px;
}

.title_icon {
  font-size: 14px;
}

.title_icon_graphic {
  width: 15px;
  height: 5px;
  border-radius: 3px;
}

.title_icon_graphic_2 {
  width: 19px;
  height: 5px;
  border-radius: 3px;
}

.title_icon_3 {
  font-size: 14px;
}

.title_icon_graphic_3 {
  width: 19px;
  height: 5px;
  border-radius: 3px;
}

.img_sport_football {
  background: url(../images/footballer_497.png);
  background-repeat: no-repeat;
  min-height: 699px;
  margin-left: -160px;
  margin-bottom: -600px;
}

.img_sport_basketball {
  background: url(../images/basketballer_436.png);
  background-repeat: no-repeat;
  min-height: 565px;
  margin-left: 55%;
  margin-right: 0;
  margin-bottom: -420px;
}

.first_title_text,
.second_title_text,
.third_title_text {
  font-size: 24px;
}

.first_description,
.second_description,
.third_description {
  width: 100%;
  min-height: 179px;
}

.first_description p,
.second_description p,
.third_description p{
  box-sizing: border-box;
  margin-left: 272px;
}

.first_description_text,
.second_description_text,
.third_description_text {
  margin-right: 48px;
  margin-top: 28px;
  font-size: 14px;
}

.first_content_description_2,
.second_content_description_2,
.third_content_description_2 {
  min-height: 181px;
}

.first_title_2,
.second_title_2,
.third_title_2 {
  margin-right: 310px;
  margin-left: 32px;
}

.first_title_text_2,
.second_title_text_2,
.third_title_text_2 {
  font-size: 24px;
}

.first_description_text_2,
.second_description_text_2,
.third_description_text_2 {

  margin-left: 32px;
  margin-right: 310px;
  margin-top: 28px;
  font-size: 14px;
}

.first_container,
.second_container,
.third_container
 {
  width: 100%;
}

.numder {
  width: 116px; 
  height: 116px;
  margin-left: 32px;
  top: 36px;
}

.number_icon_full {
  width: 26px;
  height: 32px;
  margin-left: 44px;
  margin-top: 44px;
}

.numder_icon {
  font-size: 18px;
}

.numder_icon_graphic {
  width: 22px;
  height: 4px;
  margin-top: 4px;
  border-radius: 2px;
}

.first_photo {
  min-height: 583px;
  background-image: url(../images/be-active_960.jpg);
  margin-bottom: -116px;
}

.second_photo {
  min-height: 583px;
  background-image: url(../images/find-contact_960.jpg);
  margin-bottom: -116px;
}

.third_photo {
  min-height: 583px;
  background-image: url(../images/work-it_960.jpg);
  margin-bottom: -116px;
}

.text_block_1 {
  min-height: 337px;
}

.text_block_2 {
  min-height: 334px;
}

.text_block_3 {
  min-height: 369px;
}

.text_block_title_1,
.text_block_title_2,
.text_block_title_3 {
  margin-left: 32px;
  margin-top: 92px;
  font-size: 58px;
}

.first_description_text_block,
.second_description_text_block,
.third_description_text_block {
  margin-left: 32px;
  margin-right: 20px;
  margin-top: 39px;
  font-size: 16px;
}

.footer:before {
  min-height: 1058px;
}

.footer_icon_and_title {
  z-index: 2;
}

.footer_icon {
  width: 136px;
  height: 136px;
  margin-top: 127px;
  border-radius: 30px;
}

.footer_icon_1 {
  width: 104px;
  height: 86px; 
  transform: translate(15%, 30%);
}

.footer_title {
  margin-top: 82px;
}

.footer_text_1 {
  font-size: 60px;
}

.footer_text_2 {
  font-size: 27px;
  margin-top: 27px;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 288px;
  margin-bottom: 55px;
  z-index: 2;
}

.footer_app_store,
.footer_google_play {
  width: 311px;
  height: 77px;
  border-radius: 40px;
}

.footer_app_store_logo {
  margin-right: 29px;
  margin-top: 20px;
}

.footer_app_store_logo_img {
  width: 36px;
  height: 32px;
}

.footer_button_text {
  margin-left: 0;
}

.footer_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
}

.footer_google_play_logo {
  margin-right: 29px;
  margin-top: 15px;
}

.footer_google_play_logo_img {
  width: 41px;
  height: 44px;
}

.footer_app_store_text_1,
.footer_google_play_text_1 {
  font-size: 11px;
  margin-top: 22px;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-size: 11px;
}

.footer_logo {
  width: 204px;
  height: 56px;
  margin-top: 55px; 
  margin-bottom: 23px;
 } 
 }










 /*Десктопная версия*/

 @media screen and (min-width: 961px) and (max-width: 1920px),(min-width: 1921px) {

.header {
  background-image: url(../images/football_1280.jpg);
}

.header:before {
  min-height: 1010px;
}

.header_logo {
  width: 192px;
  height: 54px;
  margin-top: 44px;
}

.header_title {
  margin-top: 294px;
}

.header_text_1 {
  font-size: 66px;
  padding-left: 10%;
}

.header_text_2 {
  font-size: 66px;
  margin-top: 28px;
  padding-left: 33.54%;
}

.header_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 222px;
  margin-bottom: 110px;
  z-index: 2;
}

.header_app_store {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 32,29%;
  margin-right: 2.6%; 
  margin-bottom: 0px;
}

.header_google_play {
  width: 312px;
  height: 78px;
  border-radius: 40px;
  margin-left: 0;
  margin-bottom: 0;
}

.header_app_store_logo {
  margin-right: 29px;
  margin-top: 10px;
}

.header_app_store_logo_img {
  width: 41px;
  height: 48px;
}

.header_button_text {
  margin-left: 0;
}

.header_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
}

.header_google_play_logo {
  margin-right: 29px;
  margin-top: 20px;
}

.header_google_play_logo_img {
  width: 50px;
  height: 40px;
}

.header_app_store_text_1,
.header_google_play_text_1 {
  font-size: 12px;
  margin-top: 22px;
}

.header_app_store_text_2,
.header_google_play_text_2 {
  font-size: 12px;
}

.content_title {
  margin-top: 116px; 
  margin-left: 52.5%;
}

.content_title_2 {
  margin-top: 119px; 
  margin-left: 10%;
}

.content_text_1,
.content_text_2 {
  font-size: 58px;
}

.img_sport_football {
  background: url(../images/footballer_566.png);
  background-repeat: no-repeat;
  min-height: 908px;
  margin-left: 20.52%;
  margin-top: -170px;
  margin-bottom: -700px;
}

.img_sport_basketball {
  background: url(../images/basketballer_991.png);
  background-repeat: no-repeat;
  min-height: 815px;
  margin-top: -175px; 
  margin-left: 42.19%;
  margin-right: 0;
  margin-bottom: -550px;
}

.first_title,
.second_title,
.third_title {
  margin-top: 60px;
  margin-left: 52.5%; 
}

.title_icon_full {
  width: 21px;
  height: 25px;
  margin-left: 0px;
  margin-right: 12px;
}

.title_icon,
.title_icon_3 {
  font-size: 16px;
}

.title_icon_graphic,
.title_icon_graphic_2,
.title_icon_graphic_3 {
  width: 20px;
  height: 5px;
  border-radius: 3px;
}

.first_title_text,
.second_title_text,
.third_title_text {
  font-size: 27px;
}

.first_description,
.second_description,
.third_description {
  width: 100%;
  min-height: 221px;
}

.first_description p,
.second_description p,
.third_description p{
  box-sizing: border-box;
  margin-left: 52.5%;
}

.first_description_text,
.second_description_text,
.third_description_text {
  margin-right: 10%;
  margin-left: 11%;
  margin-top: 30px;
  font-size: 16px;
}

.first_content_description_2,
.second_content_description_2,
.third_content_description_2 {
  min-height: 196px;
}

.first_title_2,
.second_title_2,
.third_title_2 {
  margin-left: 10%;
}

.first_title_text_2,
.second_title_text_2,
.third_title_text_2 {
  font-size: 27px;
}

.first_description_text_2,
.second_description_text_2,
.third_description_text_2 {
  width: 39.27%;
  margin-left: 10%;
  margin-top: 30px;
  font-size: 16px;
 
}

.first_container,
.third_container {
  width: 100%;
  flex-direction: row;
}

.second_container {
  width: 100%;
  flex-direction: row-reverse;
}

.numder {
  width: 155px; 
  height: 155px;
  top: 210px;
  margin-left: 0;
}

.number_icon_full {
  width: 28px;
  height: 32px;
  margin-left: 70px;
  margin-top: 61px;
}

.numder_icon {
  font-size: 18px;
}

.numder_icon_graphic {
  width: 28px;
  height: 5px;
  margin-top: 5px;
  border-radius: 2px;
}

.first_photo {
  width: 50%;
  min-height: 730px;
  background-image: url(../images/be-active_1024.jpg);
  margin-right: -77.5px;
  margin-bottom: 0;
}

.second_photo {
  width: 50%;
  min-height: 730px;
  background-image: url(../images/find-contact_1024.jpg);
  margin-left: -77.5px;
  margin-bottom: 0;
}

.third_photo {
  width: 50%;
  min-height: 730px;
  background-image: url(../images/work-it_1024.jpg);
  margin-right: -77.5px;
  margin-bottom: 0;
}

.text_block_1 {
  width: 50%;
  margin-right: 0;
  margin-left: -77.5px;
  background-color: #ffffff;
}

.text_block_2 {
  width: 50%;
  margin-right: -77.5px;
  margin-left: 0;
  background-color: #ffffff;
}

.text_block_3 {
  width: 50%;
  margin-right: 0;
  margin-left: -77.5px;
  background-color: #ffffff;
}

.text_block_title_1,
.text_block_title_3 {
  margin-left: 12%;
  margin-top: 261px;
  font-size: 58px;
}

.text_block_title_2 {
  margin-left: 10%;
  margin-top: 261px;
  font-size: 58px;
}

.first_description_text_block,
.third_description_text_block {
  margin-left: 12%;
  margin-right: 10.42%;
  margin-top: 78px;
  font-size: 18px;
}

.second_description_text_block {
  margin-left: 10%;
  margin-right: 10.42%;
  margin-top: 78px;
  font-size: 18px;
}

.footer {
  background-image: url(../images/game_1280.jpg);
}

.footer:before {
  height: 1209px;
}

.footer_icon_and_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45.10%;
  margin-top: 229px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.footer_icon {
  width: 136px;
  height: 136px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 30px;
}

.footer_icon_1 {
  width: 104px;
  height: 86px; 
  transform: translate(15%, 30%);
}

.footer_title {
  width: 77.6%;
  margin-left: 38px;
  margin-right: 0;
  margin-top: 105px;
}

.footer_text_1 {
  font-size: 58px;
  text-align: left;
}

.footer_text_2 {
  font-size: 22px;
  margin-top: 0;
  text-align: left;
}

.footer_button_full {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 288px;
  margin-bottom: 0;
  z-index: 2;
}

.footer_app_store {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin-left: 32,29%;
  margin-right: 2.6%; 
}

.footer_google_play {
  width: 311px;
  height: 77px;
  border-radius: 40px;
  margin-left: 0;
  margin-bottom: 0;
}

.footer_app_store_logo {
  margin-right: 29px;
  margin-top: 10px;
}

.footer_app_store_logo_img {
  width: 41px;
  height: 48px;
}

.footer_button_text {
  margin-left: 0;
}

.footer_button_text_2 {
  margin-left: 0;
  margin-right: 110px;
}

.footer_google_play_logo {
  margin-right: 29px;
  margin-top: 20px;
}

.footer_google_play_logo_img {
  width: 50px;
  height: 40px;
}

.footer_app_store_text_1,
.footer_google_play_text_1 {
  font-size: 12px;
  margin-top: 22px;
}

.footer_app_store_text_2,
.footer_google_play_text_2 {
  font-size: 12px;
}

.footer_logo {
  width: 196px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 261px;
  margin-bottom: 51px;
 } 
}